*
    box-sizing: border-box
    padding: 0
    margin: 0
    // user-select: none
body
    color: #555

ul
    list-style: none
a
    text-decoration: none

// Loading Spinner
.loadingSpinner
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    img
        width: 10rem

// Color
$beige: #e2cca4
$light-beige: #f3f3e6

// Media query
$breakpoints: ("sm": "screen and (min-width: 550px)", "md": "screen and (min-width: 768px)", "lg": "screen and (min-width: 1000px)", "xl": "screen and (min-width: 1200px)")

@mixin mq($breakpoint)
    @media #{map-get($breakpoints, $breakpoint)}
        @content

// Mixin 
@mixin button($color: #555, $bgColor)
    font-size: 1.4rem
    padding: .25rem 2rem
    color: $color
    background-color: $bgColor
    cursor: pointer
    border: none
    border-radius: 5px
    box-shadow: 2px 1px 1px darken($bgColor, 30)
