.index
    .modal
        &--overlay
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            width: 100vw
            height: 100vh
            background-color: rgba(0, 0, 0, .7)
            z-index: -1
            opacity: 0
            transition: .3s
            &.on
                z-index: 5
                opacity: 1
        &--body
            position: absolute
            top: 20vh
            bottom: 20vh
            left: 10vw
            right: 10vw
            width: 80vw
            height: 60vh
            transform: scale(0)
            transition: .3s
            background-color: $light-beige
            z-index: -1
            border-radius: 5px
            padding: 2rem 1rem
            &.on
                z-index: 10
                transform: scale(1)
            +mq(lg)
                top: 20vh
                bottom: 20vh
                left: 20vw
                right: 20vw
                width: 60vw
                height: 60vh

.modal--body
    .createRoom
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 100%
        h3
            font-size: 2.5rem
            margin-bottom: 2.5rem
        form
            display: flex
            flex-direction: column
            align-items: center
            width: 100%
            input
                width: 90%
                max-width: 25rem
                padding: 1rem
                font-size: 1.5rem
                border-radius: 5px
                border: #ccc 1px solid
                outline: none
                margin-bottom: 1.5rem
                &::placeholder
                    color: #ccc
                    font-size: 1.1rem
                +mq(lg)
                    max-width: 30rem
            button
                background-color: transparent
                border: none
                cursor: pointer
                .fa-check-circle
                    width: 3rem
                    height: 3rem
                    color: #555
